*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body{
    background: #333;
    /* background: red; */
    color: #f2f2f2;
    /* font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
    position: relative;

}

.navbar{
    width: 100%;
    background-color: #00000085;
    box-shadow: 1px 1px 10px #00000085;
    display: flex;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.form-file{
    margin: 10px 0;
    border: 1px solid #f2f2f2b8;
    border-radius: 10px;
    width: 30%;
    padding: 20px 10px;
    box-shadow: 5px 5px 10px #444;

}

.form-file input{
    width: 100%;
}

.submit-file{
    width: 60%;
    background-color: rgb(226 232 240);
    border: none;
    margin-top: 10px;
    padding: 2px 20px; 
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
    padding: 0px 0px;

}

.delete-modal-container{
    position: absolute;
    display: none;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    z-index: 1;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    background-color: #00000085;
    /* backdrop-filter: opacity(0.05); */
}
.delete-modal{  
    display: flex;
    transform: translateY(-60px);
    width: 324px;
    height: 116px;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.delete-modal-container.activated{
    display: flex;
    opacity: 1;
}

.delete-modal h3{
    width: 100%;
}
.delete-modal-button{
    border: none;
    height: 50px;
    width: 100px;
    cursor: pointer;
    background: #ff4455;
    color: #f2f2f2;
    border-radius: 4px;
}

.delete-modal-close{
    background: #f2f2f2;
    color: #333;
}

.delete-button{
    background: #ff4455;
    text-align: center;
    padding: 1px 3px;
    border-radius: 4px;
    cursor: pointer;
}

.form-customer{
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

#customer{
    display: flex;
    flex-direction: column;
}

#customer div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 3px 1px;
}